USE [master]
GO
/****** Object:  Database [SimuladorAGV]    Script Date: 02/09/2026 17:28:17 ******/
CREATE DATABASE [SimuladorAGV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimuladorAGV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SimuladorAGV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SimuladorAGV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SimuladorAGV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimuladorAGV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimuladorAGV]
GO
/****** Object:  Table [dbo].[ControleTurno]    Script Date: 02/09/2026 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleTurno](
	[IdControle] [int] IDENTITY(1,1) NOT NULL,
	[CicloAtual] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdControle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NiveisPeso]    Script Date: 02/09/2026 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NiveisPeso](
	[IdNivelPeso] [int] IDENTITY(1,1) NOT NULL,
	[NomeNivel] [varchar](20) NOT NULL,
	[LimiteMinimoKg] [int] NOT NULL,
	[LimiteMaximoKg] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNivelPeso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paletes]    Script Date: 02/09/2026 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paletes](
	[IdPalete] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPalete] [varchar](20) NOT NULL,
	[Carga] [varchar](150) NOT NULL,
	[IdNivelPeso] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Linha] [tinyint] NULL,
	[Coluna] [tinyint] NULL,
	[RecebidoEm] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPalete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robos]    Script Date: 02/09/2026 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robos](
	[IdRobo] [int] IDENTITY(1,1) NOT NULL,
	[Identificador] [varchar](20) NOT NULL,
	[IdTipoRobo] [int] NOT NULL,
	[PorcentagemBateria] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRobo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposRobo]    Script Date: 02/09/2026 17:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposRobo](
	[IdTipoRobo] [int] IDENTITY(1,1) NOT NULL,
	[NomeTipo] [varchar](30) NOT NULL,
	[ConsumoBateriaPorCiclo] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoRobo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ControleTurno] ON 

INSERT [dbo].[ControleTurno] ([IdControle], [CicloAtual]) VALUES (1, 17)
SET IDENTITY_INSERT [dbo].[ControleTurno] OFF
GO
SET IDENTITY_INSERT [dbo].[NiveisPeso] ON 

INSERT [dbo].[NiveisPeso] ([IdNivelPeso], [NomeNivel], [LimiteMinimoKg], [LimiteMaximoKg]) VALUES (1, N'Leve', 0, 200)
INSERT [dbo].[NiveisPeso] ([IdNivelPeso], [NomeNivel], [LimiteMinimoKg], [LimiteMaximoKg]) VALUES (2, N'Media', 201, 700)
INSERT [dbo].[NiveisPeso] ([IdNivelPeso], [NomeNivel], [LimiteMinimoKg], [LimiteMaximoKg]) VALUES (3, N'Pesada', 701, NULL)
SET IDENTITY_INSERT [dbo].[NiveisPeso] OFF
GO
SET IDENTITY_INSERT [dbo].[Paletes] ON 

INSERT [dbo].[Paletes] ([IdPalete], [CodigoPalete], [Carga], [IdNivelPeso], [Status], [Linha], [Coluna], [RecebidoEm]) VALUES (8, N'PT482', N'Notebooks i7', 2, N'Alocado', NULL, NULL, CAST(N'2026-11-05T08:15:00.000' AS DateTime))
INSERT [dbo].[Paletes] ([IdPalete], [CodigoPalete], [Carga], [IdNivelPeso], [Status], [Linha], [Coluna], [RecebidoEm]) VALUES (9, N'PT119', N'Monitores 27pol', 3, N'Alocado', 1, 1, CAST(N'2026-11-05T07:40:00.000' AS DateTime))
INSERT [dbo].[Paletes] ([IdPalete], [CodigoPalete], [Carga], [IdNivelPeso], [Status], [Linha], [Coluna], [RecebidoEm]) VALUES (10, N'PT560', N'Teclados sem fio', 1, N'Alocado', 1, 2, CAST(N'2026-11-05T08:02:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Paletes] OFF
GO
SET IDENTITY_INSERT [dbo].[Robos] ON 

INSERT [dbo].[Robos] ([IdRobo], [Identificador], [IdTipoRobo], [PorcentagemBateria]) VALUES (3, N'AGV-01', 1, CAST(56.0 AS Decimal(4, 1)))
INSERT [dbo].[Robos] ([IdRobo], [Identificador], [IdTipoRobo], [PorcentagemBateria]) VALUES (4, N'AGV-02', 2, CAST(74.0 AS Decimal(4, 1)))
INSERT [dbo].[Robos] ([IdRobo], [Identificador], [IdTipoRobo], [PorcentagemBateria]) VALUES (5, N'AGV-03', 3, CAST(86.0 AS Decimal(4, 1)))
SET IDENTITY_INSERT [dbo].[Robos] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposRobo] ON 

INSERT [dbo].[TiposRobo] ([IdTipoRobo], [NomeTipo], [ConsumoBateriaPorCiclo]) VALUES (1, N'Rapido', CAST(1.5 AS Decimal(4, 1)))
INSERT [dbo].[TiposRobo] ([IdTipoRobo], [NomeTipo], [ConsumoBateriaPorCiclo]) VALUES (2, N'Empilhadeira', CAST(2.0 AS Decimal(4, 1)))
INSERT [dbo].[TiposRobo] ([IdTipoRobo], [NomeTipo], [ConsumoBateriaPorCiclo]) VALUES (3, N'CargaPesada', CAST(1.0 AS Decimal(4, 1)))
SET IDENTITY_INSERT [dbo].[TiposRobo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NiveisPe__6EC2653424433B13]    Script Date: 02/09/2026 17:28:18 ******/
ALTER TABLE [dbo].[NiveisPeso] ADD UNIQUE NONCLUSTERED 
(
	[NomeNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paletes__52F0436ABC70E31A]    Script Date: 02/09/2026 17:28:18 ******/
ALTER TABLE [dbo].[Paletes] ADD UNIQUE NONCLUSTERED 
(
	[CodigoPalete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PosicaoArmazem]    Script Date: 02/09/2026 17:28:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PosicaoArmazem] ON [dbo].[Paletes]
(
	[Linha] ASC,
	[Coluna] ASC
)
WHERE ([Linha] IS NOT NULL AND [Coluna] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Robos__F2374EB03F60E29D]    Script Date: 02/09/2026 17:28:18 ******/
ALTER TABLE [dbo].[Robos] ADD UNIQUE NONCLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TiposRob__7859A10A37507CAB]    Script Date: 02/09/2026 17:28:18 ******/
ALTER TABLE [dbo].[TiposRobo] ADD UNIQUE NONCLUSTERED 
(
	[NomeTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ControleTurno] ADD  DEFAULT ((0)) FOR [CicloAtual]
GO
ALTER TABLE [dbo].[Paletes] ADD  DEFAULT ('Doca') FOR [Status]
GO
ALTER TABLE [dbo].[Robos] ADD  DEFAULT ((100.0)) FOR [PorcentagemBateria]
GO
ALTER TABLE [dbo].[Paletes]  WITH CHECK ADD FOREIGN KEY([IdNivelPeso])
REFERENCES [dbo].[NiveisPeso] ([IdNivelPeso])
GO
ALTER TABLE [dbo].[Robos]  WITH CHECK ADD FOREIGN KEY([IdTipoRobo])
REFERENCES [dbo].[TiposRobo] ([IdTipoRobo])
GO
ALTER TABLE [dbo].[Paletes]  WITH CHECK ADD  CONSTRAINT [CHK_Coluna] CHECK  (([Coluna]>=(1) AND [Coluna]<=(12)))
GO
ALTER TABLE [dbo].[Paletes] CHECK CONSTRAINT [CHK_Coluna]
GO
ALTER TABLE [dbo].[Paletes]  WITH CHECK ADD  CONSTRAINT [CHK_Linha] CHECK  (([Linha]>=(1) AND [Linha]<=(4)))
GO
ALTER TABLE [dbo].[Paletes] CHECK CONSTRAINT [CHK_Linha]
GO
ALTER TABLE [dbo].[Paletes]  WITH CHECK ADD  CONSTRAINT [CHK_StatusPalete] CHECK  (([Status]='Alocado' OR [Status]='Doca'))
GO
ALTER TABLE [dbo].[Paletes] CHECK CONSTRAINT [CHK_StatusPalete]
GO
ALTER TABLE [dbo].[Robos]  WITH CHECK ADD  CONSTRAINT [CHK_Bateria] CHECK  (([PorcentagemBateria]>=(0.0) AND [PorcentagemBateria]<=(100.0)))
GO
ALTER TABLE [dbo].[Robos] CHECK CONSTRAINT [CHK_Bateria]
GO
USE [master]
GO
